







.frm{
	height: 600px;
	margin-right: 50%;
	margin-top: 70px;

}


.mapac{
	position: all;
	margin-left: 50%;
	margin-top: -750px;


}

	.logobr {
		
		margin-top: -250px;
		margin-left: 35%;
		width: 150px;
		height: 150px;


	}

	.boas {
		
		margin-top: 90px;
		margin-left: 10%;

	}


	p{

		padding-top: 5px;

		

	}

	h1{

		font-size: 25px;

	}


	.prazer{

		margin-top: 200px;
		margin-left: 100px;
	}


form {


	margin-top: 0px;
    /* Apenas para centralizar o form na página */
    margin: 0 auto;
    width: 400px;
    /* Para ver as bordas do formulário */
    padding: 1em;
    border-radius: 1em;
}




form div + div {
    margin-top: 1em;
}

#botoes{
	 margin-top: 20px;
	 margin-left: 8%;

}

label {
    /*Para ter certeza que todas as labels tem o mesmo tamanho e estão propriamente alinhadas */
    display: inline-block;
    width: 90px;
    text-align: right;
    color: #000;
}


input, textarea {
    /* Para certificar-se que todos os campos de texto têm as mesmas configurações de fonte. Por padrão, textareas ter uma fonte monospace*/
    font: 1em sans-serif;

    /* Para dar o mesmo tamanho a todos os campo de texto */
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Para harmonizar o look & feel das bordas nos campos de texto*/
    border: 1px solid #999;
}


input:focus, textarea:focus {
    /* Dar um pouco de destaque nos elementos ativos */
    border-color: #000;
}


textarea {
    /* Para alinhar corretamente os campos de texto de várias linhas com sua label*/
    vertical-align: top;

    /* Para dar espaço suficiente para digitar algum texto */
    height: 5em;

    /* Para permitir aos usuários redimensionarem qualquer textarea verticalmente. Ele não funciona em todos os browsers */
    resize: vertical;
}



	

