.demo-1{
    position:relative;
    width:200px;
    height:200px;
    overflow:hidden;
    float:left;
    margin-right:20px;
    background-color:#528B8B;
}
.demo-1 p,.demo-1 h2 {
    color:#fff;
    padding:10px;
    left:25px;
    top:10px;
    position:relative
}
.demo-1 p {
    font-family:'Lato';
    font-size:12px;
    line-height:18px;
    margin:0
}
.demo-1 h2 {
    font-size:20px;
    line-height:24px;
    margin:0;
    font-family:'Lato'
}
.effect img {
    position:absolute;
    left:0;
    bottom:0;
    cursor:pointer;
    margin:-12px 0;
    -webkit-transition:bottom .3s ease-in-out;
    -moz-transition:bottom .3s ease-in-out;
    -o-transition:bottom .3s ease-in-out;
    transition:bottom .3s ease-in-out
}
.effect img.top:hover {
    bottom:-80px;
    padding-top:100px
}
h2.zero,p.zero {
    margin:0;
    padding:0
}





.demo-2{
    position:relative;
    width:200px;
    height:200px;
    overflow:hidden;
    float:left;
    margin-right:20px;
    background-color:#528B8B;
}
.demo-2 p,.demo-2 h2 {
    color:#fff;
    padding:10px;
    left:25px;
    top:10px;
    position:relative
}
.demo-2 p {
    font-family:'Lato';
    font-size:12px;
    line-height:18px;
    margin:0
}
.demo-2 h2 {
    font-size:20px;
    line-height:24px;
    margin:0;
    font-family:'Lato'
}
.effect img {
    position:absolute;
    left:0;
    bottom:0;
    cursor:pointer;
    margin:-12px 0;
    -webkit-transition:bottom .3s ease-in-out;
    -moz-transition:bottom .3s ease-in-out;
    -o-transition:bottom .3s ease-in-out;
    transition:bottom .3s ease-in-out
}
.effect img.top:hover {
    bottom:-80px;
    padding-top:100px
}
h2.zero,p.zero {
    margin:0;
    padding:0
}




.demo-3{
    position:relative;
    width:200px;
    height:200px;
    overflow:hidden;
    float:left;
    margin-right:20px;
    background-color:#528B8B;
}
.demo-3 p,.demo-3 h2 {
    color:#fff;
    padding:10px;
    left:25px;
    top:10px;
    position:relative
}
.demo-3 p {
    font-family:'Lato';
    font-size:12px;
    line-height:18px;
    margin:0
}
.demo-3 h2 {
    font-size:20px;
    line-height:24px;
    margin:0;
    font-family:'Lato'
}
.effect img {
    position:absolute;
    left:0;
    bottom:0;
    cursor:pointer;
    margin:-12px 0;
    -webkit-transition:bottom .3s ease-in-out;
    -moz-transition:bottom .3s ease-in-out;
    -o-transition:bottom .3s ease-in-out;
    transition:bottom .3s ease-in-out
}
.effect img.top:hover {
    bottom:-80px;
    padding-top:100px
}
h2.zero,p.zero {
    margin:0;
    padding:0
}


.demo-4{
	margin-top: 30px;
    position:relative;
    width:200px;
    height:200px;
    overflow:hidden;
    float:left;
    margin-right:20px;
    background-color:#528B8B;
}
.demo-4 p,.demo-4 h2 {
    color:#fff;
    padding:10px;
    left:25px;
    top:10px;
    position:relative
}
.demo-4 p {
    font-family:'Lato';
    font-size:12px;
    line-height:18px;
    margin:0
}
.demo-4 h2 {
    font-size:20px;
    line-height:24px;
    margin:0;
    font-family:'Lato'
}
.effect img {
    position:absolute;
    left:0;
    bottom:0;
    cursor:pointer;
    margin:-12px 0;
    -webkit-transition:bottom .3s ease-in-out;
    -moz-transition:bottom .3s ease-in-out;
    -o-transition:bottom .3s ease-in-out;
    transition:bottom .3s ease-in-out
}
.effect img.top:hover {
    bottom:-80px;
    padding-top:100px
}
h2.zero,p.zero {
    margin:0;
    padding:0
}


.demo-5{
	margin-top: 30px;
    position:relative;
    width:200px;
    height:200px;
    overflow:hidden;
    float:left;
    margin-right:20px;
    background-color:#528B8B;
}
.demo-5 p,.demo-5 h2 {
    color:#fff;
    padding:10px;
    left:25px;
    top:10px;
    position:relative
}
.demo-5 p {
    font-family:'Lato';
    font-size:12px;
    line-height:18px;
    margin:0
}
.demo-5 h2 {
    font-size:20px;
    line-height:24px;
    margin:0;
    font-family:'Lato'
}
.effect img {
    position:absolute;
    left:0;
    bottom:0;
    cursor:pointer;
    margin:-12px 0;
    -webkit-transition:bottom .3s ease-in-out;
    -moz-transition:bottom .3s ease-in-out;
    -o-transition:bottom .3s ease-in-out;
    transition:bottom .3s ease-in-out
}
.effect img.top:hover {
    bottom:-80px;
    padding-top:100px
}
h2.zero,p.zero {
    margin:0;
    padding:0
}




.demo-6{
	margin-top: 30px;
    position:relative;
    width:200px;
    height:200px;
    overflow:hidden;
    float:left;
    margin-right:20px;
    background-color:#528B8B;
}
.demo-6 p,.demo-6 h2 {
    color:#fff;
    padding:10px;
    left:25px;
    top:10px;
    position:relative
}
.demo-6 p {
    font-family:'Lato';
    font-size:12px;
    line-height:18px;
    margin:0
}
.demo-6 h2 {
    font-size:20px;
    line-height:24px;
    margin:0;
    font-family:'Lato'
}
.effect img {
    position:absolute;
    left:0;
    bottom:0;
    cursor:pointer;
    margin:-12px 0;
    -webkit-transition:bottom .3s ease-in-out;
    -moz-transition:bottom .3s ease-in-out;
    -o-transition:bottom .3s ease-in-out;
    transition:bottom .3s ease-in-out
}
.effect img.top:hover {
    bottom:-80px;
    padding-top:100px
}
h2.zero,p.zero {
    margin:0;
    padding:0
}


.demo-7{
	margin-top: 30px;
    position:relative;
    width:200px;
    height:200px;
    overflow:hidden;
    float:left;
    margin-right:20px;
    background-color:#528B8B;
}
.demo-7 p,.demo-7 h2 {
    color:#fff;
    padding:10px;
    left:25px;
    top:10px;
    position:relative
}
.demo-7 p {
    font-family:'Lato';
    font-size:12px;
    line-height:18px;
    margin:0
}
.demo-7 h2 {
    font-size:20px;
    line-height:24px;
    margin:0;
    font-family:'Lato'
}
.effect img {
    position:absolute;
    left:0;
    bottom:0;
    cursor:pointer;
    margin:-12px 0;
    -webkit-transition:bottom .3s ease-in-out;
    -moz-transition:bottom .3s ease-in-out;
    -o-transition:bottom .3s ease-in-out;
    transition:bottom .3s ease-in-out
}
.effect img.top:hover {
    bottom:-80px;
    padding-top:100px
}
h2.zero,p.zero {
    margin:0;
    padding:0
}



.demo-8{
	margin-top: 30px;
    position:relative;
    width:200px;
    height:200px;
    overflow:hidden;
    float:left;
    margin-right:20px;
    background-color:#528B8B;
}
.demo-8 p,.demo-8 h2 {
    color:#fff;
    padding:10px;
    left:25px;
    top:10px;
    position:relative
}
.demo-8 p {
    font-family:'Lato';
    font-size:12px;
    line-height:18px;
    margin:0
}
.demo-8 h2 {
    font-size:20px;
    line-height:24px;
    margin:0;
    font-family:'Lato'
}
.effect img {
    position:absolute;
    left:0;
    bottom:0;
    cursor:pointer;
    margin:-12px 0;
    -webkit-transition:bottom .3s ease-in-out;
    -moz-transition:bottom .3s ease-in-out;
    -o-transition:bottom .3s ease-in-out;
    transition:bottom .3s ease-in-out
}
.effect img.top:hover {
    bottom:-80px;
    padding-top:100px
}
h2.zero,p.zero {
    margin:0;
    padding:0
}




.demo-9{
	margin-top: 30px;
    position:relative;
    width:200px;
    height:200px;
    overflow:hidden;
    float:left;
    margin-right:20px;
    background-color:#528B8B;
}
.demo-9 p,.demo-9 h2 {
    color:#fff;
    padding:10px;
    left:25px;
    top:10px;
    position:relative
}
.demo-9 p {
    font-family:'Lato';
    font-size:12px;
    line-height:18px;
    margin:0
}
.demo-9 h2 {
    font-size:20px;
    line-height:24px;
    margin:0;
    font-family:'Lato'
}
.effect img {
    position:absolute;
    left:0;
    bottom:0;
    cursor:pointer;
    margin:-12px 0;
    -webkit-transition:bottom .3s ease-in-out;
    -moz-transition:bottom .3s ease-in-out;
    -o-transition:bottom .3s ease-in-out;
    transition:bottom .3s ease-in-out
}
.effect img.top:hover {
    bottom:-80px;
    padding-top:100px
}
h2.zero,p.zero {
    margin:0;
    padding:0
}
